.gallery {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
.gallery__item {
	margin: 10px;
}
.gallery__item img {
	display: block;
	width: 100%;
	max-width: 400px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}